extends layout

block content
	h2 My Trades
	if ( trades.requester.length === 0 && trades.requestee.length === 0 && notifications.length === 0 )
		p.well You have no current trade activities
	if( trades.requester.length )
		fieldset
			legend Outgoing Trade Requests
			ul.list-group
				each book in trades.requester
					each trade in book.trades
						li.list-group-item.row
							span.col-sm-8= 'Requesting '+book.volumeInfo.title+' from '+trade.requestee
							div.col-sm-4.btn-toolbar
								form.form-inline.pull-right(action="/member/trades/cancel/"+book.googleID, method="post")
									input(type="hidden", name="requestee", value=trade.requestee)
									button.btn.btn-default.btn-sm(type="submit") Cancel Trade
	if( trades.requestee.length )
		fieldset
			legend Incoming Trade Requests
			ul.list-group
				each book in trades.requestee
					each trade in book.trades
						li.list-group-item.row
							span.col-sm-8= trade.requester+' requested '+book.volumeInfo.title
							div.col-sm-4.btn-toolbar
								form.form-inline.pull-right(action="/member/trades/accept/"+book.googleID, method="post")
									input(type="hidden", name="requester", value=trade.requester)
									button.btn.btn-primary.btn-sm(type="submit") Accept Trade
								form.form-inline.pull-right(action="/member/trades/reject/"+book.googleID, method="post")
									input(type="hidden", name="requester", value=trade.requester)
									button.btn.btn-default.btn-sm(type="submit") Reject Trade
	if ( notifications.length )
		fieldset
			legend Trade Notifications
			ul.list-group
				each notification in notifications
					li.list-group-item= notification.message