extends layout

block content
	h2  Member Profile
	if( errors.length )
		ul.list-unstyled.text-warning
			each error in errors
				li= error
	else if( message.length > 0 )
		p.text-success= message
	else
		p Use the form below to change your first/last name, city and state
	form(action="/member/profile", method="post")
		fieldset
			legend Personal Info:
			section.form-group.form-group-sm.col-sm-6
				label(for="firstname") First Name:
				input.form-control(type="text", name="firstname", value=memberInfo.firstname, required)
			section.form-group.form-group-sm.col-sm-6
				label(for="lastname") Last Name:
				input.form-control(type="text", name="lastname", value=memberInfo.lastname, required)
			section.form-group.form-group-sm.col-sm-8
				label(for="city") City:
				input.form-control(type="text", name="city", value=memberInfo.city, required)
			section.form-group.form-group-sm.col-sm-4
				label(for="state") State:
				input.form-control(type="text", name="state", value=memberInfo.state, required)
		fieldset
			legend Password (leave blank unless you want to change it)
			section.form-group.form-group-sm.col-sm-12
				label(for="password") New Password:
				input.form-control(type="password", name="password", value=((memberInfo.hasOwnProperty('password') ? memberInfo.password : '' )))
			section.form-group.form-group-sm.col-sm-12
				label(for="password_confirm") Confirm Password:
				input.form-control(type="password", name="password_confirm", value=((memberInfo.hasOwnProperty('password_confirm') ? memberInfo.password_confirm : '')))
		section.col-sm-12
			div.btn-toolbar.pull-right
				button.btn.btn-sm.btn-primary(type="submit") Submit
				a.btn.btn-sm.btn-default(href="/books") Cancel